[submodule "tools/xpath-gui"]
	path = tools/xpath-gui
	url = https://github.com/and07/xpath-gui
[submodule "tools/csv-convert"]
	path = tools/csv-convert
	url = https://github.com/and07/csv-convert.git
[submodule "tools/api-gui"]
	path = tools/api-gui
	url = https://github.com/and07/api-gui.git
[submodule "game/gomoku"]
	path = game/gomoku
	url = https://github.com/and07/gomokujs.git
[submodule "flame"]
	path = flame
	url = https://github.com/and07/flamejs.git
